.white-label-zone {
    width: calc(100% + 20px);
    height: auto;
    background: #fff;
    display: flex;
    margin: 0 0 0 -20px;
}
.white-label-zone h1,p {
    padding: 0 20px;
}
.container {
    background: #fff; 
    width: 1200px;
}
.container h1 {
    display: block;
    font-size: 18px;
    padding: 13px 20px;
    margin: 0 0 20px 0;
    background: #555;
    color: #fff;
}
.container p {
    padding: 10px 0;
    margin: 0;
}
a.menu-btn {
    width: 100%; 
    padding: 5px !important; 
    font-size: 14px !important;
}
@media print {
    .no-print {
        display: none !important;
    }
}